@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background-image: url("../../public/bg-line.png");
  height: 10vh;
  /* width: 90vh; */
}

.gradient-bg {
  background: linear-gradient(90deg, #ae67fa 1.84%, #f49867 102.67%),
    linear-gradient(106deg, #4ef0f0 0%, #05c580 100%);
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
