@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background-image: url("../../public/bg-line.png");
  height: 10vh;
  /* width: 90vh; */
}

.bgg {
  background-image: url("../../public/ss.png");
  /* height: 10vh; */
  /* width: 90vh; */
}

.gradient-bg {
  background: linear-gradient(90deg, #ae67fa 1.84%, #f49867 102.67%),
    linear-gradient(106deg, #4ef0f0 0%, #05c580 100%);
}

.head-txt {
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -1.7px;
}

.text-cl {
  background-image: linear-gradient(90deg, #ae67fa 1.84%, #f49867 102.67%),
    linear-gradient(106deg, #4ef0f0 0%, #05c580 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}

.text-bt {
  background: var(
    --linear-1,
    linear-gradient(106deg, #ae68fa 0%, #f1966e 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-gradient {
  border: 1px solid var(--linear-1, #ae68fa);
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
