@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  margin-top: 3.5rem;
}

.bg {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(148 163 184 / 0.05)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e"); /* Single closing quote here */
}

.bgHeader {
  background-image: url("../../public/headerBg.svg"); /* Single closing quote here */
}

.bgHow {
  background-image: url("../../public/howBg.svg"); /* Single closing quote here */
}

.bgZigZag {
  background-image: url("../../public/zigzagArrow.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 10rem;
}

.bgZigZagL {
  background-image: url("../../public/zigzagArrow.svg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 10rem;
}

.btnBg {
  background-color: #f7f7f7;
}

.border-gradient {
  border: 1px solid var(--linear-1, #ae68fa);
}

.border-gradient:hover {
  border: none;
  transition: all ease 500ms;
  background: linear-gradient(90deg, #ae67fa 1.84%, #f49867 102.67%),
    linear-gradient(106deg, #4ef0f0 0%, #05c580 100%);
  color: #f7f7f7;
}

.bold {
  font-weight: 800;
}

.cbg {
  background-image: url("../../public/curvedBg.svg");
  background-repeat: no-repeat;
  /* height: 10vh; */
  /* width: 90vh; */
}

.effectGradient {
  background: linear-gradient(90deg, #ae67fa 1.84%, #f49867 102.67%),
    linear-gradient(106deg, #4ef0f0 0%, #05c580 100%);
}

.effectGradient:hover {
  background: none;
  border: 1px solid var(--linear-1, #ae68fa);
  /* transition: all ease 300ms; */

  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.gradient-bg {
  background: linear-gradient(90deg, #ae67fa 1.84%, #f49867 102.67%),
    linear-gradient(106deg, #4ef0f0 0%, #05c580 100%);
}

.head-txt {
  font-weight: 600;
}



.placeholder {
  color: #9f9fac;
}

.text-cl {
  background-image: linear-gradient(90deg, #ae67fa 1.84%, #f49867 102.67%),
    linear-gradient(106deg, #4ef0f0 0%, #05c580 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}

.text-bt {
  background: var(
    --linear-1,
    linear-gradient(106deg, #ae68fa 0%, #f1966e 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}
